body{
    margin: 5px;
    padding: 0;
    box-sizing: border-box;
    background-image: url(/IMG/Menu/Fondo\ blanco.jpg)
}


a{
text-decoration: none;
color: black;
}

                          
.Menu{
    display: flex;
    padding: 30px 30px 1px 30px ;
    gap: 50px;
    
}
.logo {
    box-shadow: 20px 20px 8px rgba(142, 33, 33, 0.2);
    margin-right: 20PX;
    border-radius: 20px;
}

                   
.MYH {
    margin-top: 20px;
    
}

.hombre{
    padding-right: 30px;
}

.MYH :hover { 
    color: rgba(106, 103, 41, 0.435);
    }

                         
.Resgis_IniciarSeccion {
    padding-left: 800px; 
    margin-top: 20px;
}

.Perfil :hover { 
    color: rgba(106, 103, 41, 0.435);
    
    }
.Registrar{ 
    padding-right: 30px;
}

                              
.ConjuntoIMG {
    display: flex;
    justify-content: center;
    
    padding: 50px 50PX;
 }
.ConjuntoIMG img{
    box-shadow: 0px 4px 8px rgba(23, 22, 22, 0.2);
}


                               
.cards{
    display: flex;
    gap: 30px;
    margin-left: 50px;
    padding-bottom: 50px;
    justify-content: center;
    margin-top: 40px;
    
}
.cards img{
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(23, 22, 22, 0.2);

}

.cards img:hover { 
    transform: scale(1.15);
    transition-duration: 1s;
    box-shadow: 10px 8px 16px rgba(23, 22, 22, 0.4);
    padding : 5px;
    border-radius: 15px;
    border: 2px solid goldenrod;
    }

.card-title{
    text-align: center;
    }