body {
    background-image: url("/IMG/Register/Fondo\ de\ pantalla.png");
    background-size: cover;
    background-position:center;
    text-align: center;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; 
}

.Formulario label {
    font-size: 26px;
    
}
.boton {
    background-color: #181d18; /* Verde */
    border: none;
    color: white;
    margin: 40px;
    padding: 15px 32px;
    border-radius: 40PX;
    color: aliceblue;
}
.boton a{
    text-decoration: none;
    color: white;
}