body{
    margin: 5px;
    padding: 0;
    box-sizing: border-box;
    background-image: url(/IMG/Menu/Fondo\ blanco.jpg);
}
a{
text-decoration: none;
color: black;
} 

                           
.Menu{
    display: flex;
    padding: 30px 30px 1px 30px ;
    gap: 50px;
    
}
.logo {
    box-shadow: 20px 20px 8px rgba(142, 33, 33, 0.2);
    margin-right: 20PX;
    border-radius: 20px;
}
                              

.MYH {
    margin-top: 20px;
    
}

.hombre{
    padding-right: 30px;
}

.MYH :hover { 
    color: rgba(106, 103, 41, 0.435);
    
    }


                         
.Perfil {
    padding-left: 700px; 
    margin-top: 20px;
}

.Perfil :hover { 
    color: rgba(106, 103, 41, 0.435);
    
    }
.Registrar{ 
    padding-right: 30px;
}

                              

.card-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  gap: 70px;
  margin: 40px;
}

.cards {
  background-color: rgb(240, 240, 240);
  border: 2px solid goldenrod;
  box-shadow: rgba(254, 0, 0, 1) 5px 5px 15px;
  padding: 0px;
  display: flex;
}

.card-group img {
    width: 220px;
    height: 200px;
    border-radius: 0px;
    margin: 0px;
    padding: 19px;
    background-color: rgb(234, 222, 222);
    border: rgb(243, 235, 235) 40px solid;
}

.card-group h5 {
    font-size: 18px;
    margin-left: 20px;
    
}

.cards P {
    margin-right: 40px;
    margin-left: 18px;
}

.Titulo {
    margin: 40px;
}

